[submodule "dependencies/oboe"]
	path = library/dependencies/oboe
	url = https://github.com/google/oboe.git
[submodule "dependencies/fmt"]
	path = library/dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "library/dependencies/frozen_string"]
	path = library/dependencies/frozen_string
	url = https://github.com/rhysd/FrozenString.git
