[submodule "dependencies/oboe"]
	path = library/dependencies/oboe
	url = https://github.com/google/oboe.git
[submodule "dependencies/fmt"]
	path = library/dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "library/dependencies/frozen_string"]
	path = library/dependencies/frozen_string
	url = https://github.com/rhysd/FrozenString.git
[submodule "library/dependencies/libsamplerate"]
	path = library/dependencies/libsamplerate
	url = https://github.com/erikd/libsamplerate.git
[submodule "library/dependencies/libav"]
	shallow = true
	path = library/dependencies/libav
	url = git://git.libav.org/libav.git
[submodule "library/dependencies/result"]
	path = library/dependencies/result
	url = git@github.com:oktal/result.git
