## Java

*.class
*.war
*.ear
hs_err_pid*

## Android Studio and Intellij and Android in general
/android/libs/armeabi/
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
.idea/
*.ipr
*.iws
*.iml
/android/out/
com_crashlytics_export_strings.xml

## Gradle

build/*
/**/build/*
/local.properties
.gradle/
gradle-app.setting
.externalNativeBuild
examples/**/libs

## OS Specific
.DS_Store
Thumbs.db

## build logs
*.log
/library/.cxx/

## nix
.direnv
